.header{
    width: 100%;
    z-index: 999;
    top: 0;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.4);
}
.nav_header{
    width: 1240px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.logo{
    font-size: 34px;
    font-weight: 700;
    color: #C3073F;
}
.list{
    display: flex;
    list-style: none;
    text-decoration: none;
    font-size: 24px;
    
}
.link_header{
    font-weight: 400;
    color: #C3073F;
    text-decoration: none;
    margin-right: 20px;
}